<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="foo.bar.momoden"
    android:versionCode="4"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="9"/>

    <!-- SipAudioCall#makeAudioCall SipAudioCall#takeAudioCall -->
    <uses-permission android:name="android.permission.USE_SIP" />
    <uses-permission android:name="android.permission.INTERNET" />

    <!-- SipAudioCall#startAudio -->
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- SipAudioCall#setSpeakerMode -->
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />

    <!-- Admob -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!-- uses-featureをコメントアウト -->
    <!--
    <uses-feature
        android:name="android.hardware.wifi"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.microphone"
        android:required="true" />
    <uses-feature
        android:name="android.hardware.sip.voip"
        android:required="true" />
	-->

    <application
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="foo.bar.momoden.CallActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity android:name="com.google.ads.AdActivity"
            android:configChanges="keyboard|keyboardHidden|orientation|screenLayout|uiMode|screenSize|smallestScreenSize">
        </activity>
        </application>

</manifest>